@model Spider.Plugin.Models.EditRobotsModel
<div class="row">
<div class="col-sm-12 col-lg-2">
<h3>Existing Agents</h3>
@foreach (string agent in Model.Agents)
{
<p>@agent</p>
}
</div>
<div class="col-sm-12 col-lg-10">
<h3>Existing Agents</h3>
@foreach (Spider.Plugin.Models.CustomAgentModel customAgentModel in Model.Routes)
{
<p>@customAgentModel</p>
}
</div>
</div>