@model DynamicContent.Plugin.Model.TextTemplateEditorModel
<div class="tab-content" id="nav-tabContent" style="margin: 5px;">
<textarea class="form-control" id="Data" name="Data" style="min-height:300px;width:100%;">@Html.Raw(Model.Data)</textarea>
</div>