@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Affiliate";
}
<div class="row">
<div class="col">
<h1>@Localizer[nameof(Languages.LanguageStrings.AffilidateProgram)]</h1>
</div>
</div>
<div class="row">
<div class="col">
<p>Use this area to provide information about your affiliate program</p>
</div>
</div>