@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Affiliate";
}

<h2>@Localizer[nameof(Languages.LanguageStrings.AffilidateProgram)]</h2>

<p>Use this area to provide information about your affiliate program</p>