@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Careers";
}

<h2>@Localizer[nameof(Languages.LanguageStrings.Careers)]</h2>

<p>Use this area to provide information about your careers with your company</p>