@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Returns";
}
<div class="row">
<div class="col-sm-12">
<h1>@Localizer[nameof(Languages.LanguageStrings.ReturnsPolicy)]</h1>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<p>Use this area to provide information about your returns policy</p>
</div>
</div>