@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Terms and Conditions";
}


<h2>@Localizer[nameof(Languages.LanguageStrings.TermsAndConditions)]</h2>


<p>Use this area to provide information about your Terms and Conditions</p>