
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/error.css" />
<h2>Error</h2>

<div class="errorMessage" style="height:unset;">
    <div>
        <p>Oops, an unexpected error occurred.  We have notified our engineers who will fix this problem.</p>
        <p><a href="/">Click here</a> to go back to our home page.</p>
    </div>
</div>