.docModules {
    align-content: center;
}

.docModules {
    width: 180px;
    height: 200px;
    margin: 20px 10px 0 0;
    align-content: center;
    border: solid 1px #707B7C;
    cursor: pointer;
}

    .docModules a {
        display: block;
        width: 180px;
        height: 200px;
        text-decoration: none;
    }

        .docModules a .overlay {
            background: rgb(0,0,0);
            background: rgba(0,0,0,0.4);
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }

        .docModules a:hover .overlay {
            display: block;
            opacity: 0.7;
        }

        .docModules a img {
            width: 128px;
            height: 128px;
            margin: 5px 0 0 11px;
        }

        .docModules a h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin: 0 2px 2px 0;
            padding: 8px 0 6px 8px;
            word-break: break-word;
            overflow: hidden;
            background-color: #0094ff;
            color: white;
            text-align: center;
        }

        .docModules a span {
            display: none;
            width: 176px;
            height: 169px;
            font-size: 18px;
            color: #000;
            text-align: center;
            margin: 49px 0 0 17px;
            padding: 15px 0 0 0;
            overflow: hidden;
        }


.docContents {
    font-size: 14px;
}

    .docContents h3 {
        font-size: 18px;
    }

    .docContents ul {
        list-style-type: none;
        padding: 2px 0 0 1px;
    }

        .docContents ul li ul {
            padding: 2px 0 0 10px;
        }

.docReferences {
    font-size: 14px;
    width: 189px;
    top: 48px;
}

    .docReferences h3 {
        font-size: 18px;
    }

    .docReferences ul {
        list-style-type: none;
        padding: 2px 0 0 1px;
    }

.docPrevNext {
    font-size: 14px;
    margin: 25px 0 0 0;
}

    .docPrevNext ul {
        list-style-type: none;
        padding: 2px 0 0 1px;
    }

.stickyRef {
    position: fixed;
    top: 48px;
}

.docTable {
    width: 100% !important;
}

    .docTable table {
        width: 100% !important;
    }

        .docTable table tbody tr {
            border-top: 1px solid rgba(0,0,0,0.4);
        }

            .docTable table tbody tr td:first-child {
                width: 200px;
                max-width: 200px !important;
                min-width: 200px !important;
                word-wrap: break-word;
            }

            .docTable table tbody tr td {
                font-size: 13px;
                padding: 10px 0 10px 2px;
            }
