/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.validation-summary-errors {
    color: red;
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding-left: 0px;
    }

.field-validation-error {
    color: red;
}

.bc {
    padding: 8px 0px 2px 0px;
    background-color: #eee;
    height: 36px;
}

    .bc ul {
        list-style: none;
        padding-left: 6px;
    }

        .bc ul li {
            display: inline;
            font-size: 12px;
        }

            .bc ul li + li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }

            .bc ul li a {
                color: #0275d8;
                text-decoration: none;
            }

                .bc ul li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }


.cart-summary {
    float: right;
    width: 160px;
    height: 50px;
}

    .cart-summary img {
        padding-top: 13px;
    }

    .cart-summary p {
        display: inline-block;
        padding-left: 16px;
        color: #9d9d9d;
        font-size: 1.0em;
    }

    .cart-summary p:hover {
        color: white;
    }

        .cart-summary p span {
            display: table;
            font-size: 0.8em;
        }