@model SystemAdmin.Plugin.Models.GridViewModel
@{
    ViewData["Title"] = "Grid";
}

<div class="bc">@Html.Raw(Model.BreadCrumb)</div>

<h2>@Model.Title</h2>

<div class="systemGrid">
    <table>
        <thead>
            <tr>
                @foreach (string header in Model.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (string[] line in Model.Items)
            {
                <tr>
                    @foreach (string item in line)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

