@model ShoppingCartPlugin.Models.CheckoutModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = Localizer[nameof(Languages.LanguageStrings.Checkout)];
}
<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
<div class="row">
<div class="col">
<h1>@Localizer[nameof(Languages.LanguageStrings.SelectPaymentMethod)]</h1>
</div>
</div>
<div class="row">
@if (Model.Providers.Any())
{
<div class="col payment-provders">
@foreach (var item in Model.Providers)
{
<div class="payment-provder">
@using (Html.BeginForm(nameof(ShoppingCartPlugin.Controllers.CartController.ProcessCheckout), "Cart", FormMethod.Post))
{
<input type="submit" class="btn btn-primary @Model.RouteText(item.Name()).ToLower()" value="" />
<input type="hidden" name="SelectedProvider" value="@item.Name()" />
<input type="hidden" name="SelectedProviderId" value="@item.UniqueId().ToString()" />
}
</div>
}
</div>
}
</div>
