@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "About";
}
<h2>@Localizer[nameof(Languages.LanguageStrings.About)]</h2>

<p>ASPNetCore.PluginManager is available under GNU General Public License v3.0</p>

<p>Source code is available from <a href="https://github.com/k3ldar/.NetCorePluginManager" target="_blank">GitHub.com</a></p>

<p><a href="https://sicarterblog.wordpress.com/2018/10/02/asp-net-core-plugin-manager/" target="_blank">Blog</a></p>
