
.login-block {
padding: 6px 20px 8px 2px;
margin: 0 0 10px 0;
}
.login-block input {
padding: 5px 10px 5px 10px;
margin: 0 10px 0 0;
}
.login-row {
padding: 0 0 4px 0;
}
.ac-row {
padding: 15px 0 0 0;
}