@model DocumentationPlugin.Models.DocumentViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <p>references</p>
        </div>
        <div class="col-lg-8">
            <h2>@Model.Title</h2>
            @Html.Raw(Model.LongDescription)
        </div>
        <div class="col-lg-2">
            <p>in here</p>
        </div>
    </div>
</div>

