@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "HighVolume";
}

<div class="row">
    <div class="col">

        <h1>@Localizer[nameof(Languages.LanguageStrings.UnableToProcessRequest)]</h1>
    </div>
</div>
<div class="row">
    <div class="col">

        <div class="errorMessage">
            <p>@Localizer[nameof(Languages.LanguageStrings.PleaseTryAgainLater)]</p>


            <p>@Localizer[nameof(Languages.LanguageStrings.HighVolumeDescription)]</p>
        </div>
    </div>
</div>
