
@{
    ViewData["Title"] = "HighVolume";
}

<h2>@Languages.LanguageStrings.UnableToProcessRequest</h2>


<div class="errorMessage">
    <p>@Languages.LanguageStrings.PleaseTryAgainLater</p>


    <p>@Languages.LanguageStrings.HighVolumeDescription</p>
</div>