@model SharedPluginFeatures.BaseModel

@{
    ViewData["Title"] = "HighVolume";
}
<div class="bc">@Html.Raw(Model.BreadcrumbData())</div>


<h2>@Languages.LanguageStrings.UnableToProcessRequest</h2>


<div class="errorMessage">
    <p>@Languages.LanguageStrings.PleaseTryAgainLater</p>


    <p>@Languages.LanguageStrings.HighVolumeDescription</p>
</div>