@model SharedPluginFeatures.BaseModel

@{
    ViewData["Title"] = "NotAcceptable";
}
<div class="bc">@Html.Raw(Model.BreadcrumbData())</div>


<h2>@Languages.LanguageStrings.NotAcceptable</h2>


<div class="errorMessage">
    <p>@Languages.LanguageStrings.NotAcceptableDescription</p>
</div>