@model ErrorManager.Plugin.Models.Error404Model
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Error404";
}

<link rel="stylesheet" href="/css/error.css" />

<div class="row">
    <div class="col">
        <h1>@Localizer[nameof(Languages.LanguageStrings.NotFound404)]</h1>
    </div>
</div>

<div class="row errorMessage">
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        <div class="col">
            <img src="@Model.Image" alt="Missing Link" />
        </div>
    }

    @if (!String.IsNullOrEmpty(Model.Message))
    {
        <div class="col">
            @Html.Raw(Model.Message)
        </div>
    }
</div>
