@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "NotAcceptable";
}


<h2>@Localizer[nameof(Languages.LanguageStrings.NotAcceptable)]</h2>


<div class="errorMessage">
    <p>@Localizer[nameof(Languages.LanguageStrings.NotAcceptableDescription)]</p>
</div>