@model SearchPlugin.Models.QuickSearchViewModel
@inject Middleware.ISearchProvider searchProvider

<script src="/js/Search.js"></script>

<link rel="stylesheet" href="/css/search.css" />

@using (Html.BeginForm("QuickSearch", "Search", FormMethod.Post, new { id = "quickSearchForm" }))
{
    <div class="row ac-row">
        <div class="col-sm-10 col-md-5 col-lg-4">
            @Html.TextBoxFor(m => m.SearchText, new { @class = "form-quickSearch" })
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
}
