@model SystemAdmin.Plugin.Models.TextExViewModel
@{
ViewData["Title"] = "Grid";
}
<link rel="stylesheet" href="~/css/SystemAdmin.css" asp-append-version="true" />
<div class="row">
<div class="col">
<h2>@Model.Title</h2>
</div>
</div>
<div class="row">
<div class="col textBlock">
@Html.Raw(Model.Text)
</div>
</div>