@model Resources.Plugin.Models.ResourceViewItemModel
@using SharedPluginFeatures
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = $"{Model.Name} - {Model.SeoTitle}";

    string data = "";

    if (Model.ResourceType == Middleware.ResourceType.Image)
    {
        data = $"<img src=\"{Model.Value}\" alt=\"{Model.Name}\" />";
    }
    else
    {
        data = $"<div>{Model.Value}</div>";
    }
    bool enabled = Model.UserIsLoggedIn && Context.User.HasClaim(SharedPluginFeatures.Constants.ClaimNameAddResources, "true");
}


<link rel="stylesheet" href="/css/resources.css" />
<script src="/js/resources.js"></script>

<h2>@Model.Name</h2>

<div class="docContainer">
    <div class="row">
        <div class="col">
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row res-row">
        <div class="col">
            @Html.Raw(data)
        </div>
    </div>
    <div class="row res-row">
        <div class="col">
            @await Html.PartialAsync("_ResourceStats.cshtml", new Resources.Plugin.Models.ResourceItemResponseModel(Model.Id, Model.Likes, Model.Dislikes, Model.ViewCount, enabled))
        </div>
    </div>
</div>
