@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a>
            <h3>Application uses</h3>
            <img src="" width="170" height="200" style="border:solid 1px black;" />
        </a>
    </div>
    <div class="col-md-3">
        <a>
            <h3>Application uses</h3>
            <img src="" width="170" height="200" style="border:solid 1px black;" />
        </a>
    </div>
    <div class="col-md-3">
        <a>
            <h3>Application uses</h3>
            <img src="" width="170" height="200" style="border:solid 1px black;" />
        </a>
    </div>
    <div class="col-md-3">
        <a>
            <h3>Application uses</h3>
            <img src="" width="170" height="200" style="border:solid 1px black;" />
        </a>
    </div>
</div>
