@model SharedPluginFeatures.BaseModel
@{
ViewData["Title"] = "ApiController";
}
<div class="row">
<div class="col-sm-12">
<h2>Api Controller</h2>
<p>If you have Api Controllers for RESTful Http services, these too can be plugged into the host application. Develop the Api services you require and then plugin them in to the host application.</p>
<h3>Benefits</h3>
<p>An Api Web service could easily be split into compartmental pieces, allowing for easier development, testing and integration.</p>
<p>Multiple versions of the Api could be loaded simultaneously and deprecated by disabling the plugin within appsettings.json</p>
</div>
</div>
